
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#sidebar, #content {
    height: 100%;
    overflow: auto;
    float: left;
    transition: width .35s;
}

#sidebar {
    background: #f5f5f5;
    width: 15%;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

#sidebar ul li:hover {
    background: #dcdcdc;
}

#sidebar.collapsed {
    width: 0;
}

#sidebar.collapsed + #content {
    width: 100%;
}

#content {
    width: 85%;
}

.submitButton {
    width: 100px;
    height: 40px;
}
