
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#sidebar, #content {
    height: 100%;
    overflow: auto;
    float: left;
    transition: width .35s;
}

#sidebar {
    background: #808080;
    width: 15%;
}

#sidebar.collapsed {
    width: 0;
}

#sidebar.collapsed + #content {
    width: 100%;
}

#content {
    width: 85%;
}

button {
    width: 30px;
    height: 30px;
    background: black;
}
