@model LibraryManagementSystem.ViewModels.Loans.AddLoanViewModel

@{
    ViewBag.Title = "AddLoan";
}

<h2>AddLoan</h2>

@using (Html.BeginForm("AddLoan", "Loans", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Client Id")
            @Html.TextBoxFor(model => model.loan.ClientId, new {@readonly = true})
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
