
@{
    ViewBag.Title = "AddBook";
}

<script language="javascript" type="text/javascript">
    function onClick() {
        alert("button clicked");
    }
</script>

<h2>AddBook</h2>


<div class="container"  >

    <fieldset>
        <legend>Book details</legend>

        <div class="form-group">
            <label for="input-text" class="control-label">Book Title</label>
            <input type="text" class="form-control" placeholder=""/>
        </div>

        <div class="form-group">
            <label for="input-text" class="control-label">ISBN</label>
            <input type="text" class="form-control" placeholder=""/>
        </div>

        <div class="form-group">
            <label for="input-number" class="control-label">Total quantity</label>
            <input type="text" class="form-control" placeholder="" onclick="return onClick()"/>
        </div>

    </fieldset>

</div>

<button class="btn btn-success">Add book</button>
