
@{
    ViewBag.Title = "Books";
}

@using LibraryManagementSystem.Models.Library;

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Book Title</th>
            <th>ISBN</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Digital Forest</td>
            <td>1203981</td>
            <td>15</td>
        </tr>
        @foreach (Book book in ViewBag.Books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.ISBN</td>
                <td>@book.TotalQuantity</td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn">Add Book</button>

